@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

@media (max-width: 1500px) {
    .container {
        max-width: 100%;
    }

    .app-steps-item span {
        font-size: 23px;
        margin-left: 0;
    }

    .table-custom {
        width: 100%;
        background-color: rgba(255,255,255, .5);
    }

    .header-nav-link {
        margin-right: 20px;
    }

    .top-section-title {
        font-size: 40px;
    }

    .prices {
        background-position-x: 167%;
    }

    .points-list {
        max-height: 350px;
    }

    .point-actions {
        align-items: flex-start;
    }

    .button-point {
        padding: 8px 15px;
    }

    .point-actions-item {
        flex: 0 0 37px;
        max-width: 37px;
        height: 37px;
    }
}

@media (max-width: 1366px) {
    .footer-shape {
        top: 0;
        bottom: 0;
        right: 0;
        max-width: none;
        height: 100%;
        opacity: .3;
    }
}

@media (max-width: 1200px) {
    .app-steps-item {
        padding-left: 40px;
        font-size: 40px;
        background-size: 25px;
        background-position-y: 9px;
    }

    .app-steps-item span {
        font-size: 20px;
    }

    .app-steps-list {
        margin-top: 30px;
    }

    .app {
        margin-top: 100px;
    }

    .app-map-inner img {
        width: 100%;
    }

    .header {
        padding-top: 25px;
    }

    .contact-links {
        padding-top: 7px;
    }

    .header-nav-btn {
        padding: 13px 15px;
    }

    .header-logo-src {
        width: 222px;
    }

    .contact-links-item {
        font-size: 14px;
        background-position: 0 1px;
    }

    .header .contact-links {
        padding-left: 20px;
    }

    .header-nav-link,
    .header-nav-btn {
        font-size: 14px;
    }

    .top-section {
        height: auto;
        padding-bottom: 100px;
        padding-top: 180px;
    }

    .top-section-list {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .prices {
        background-position-x: 600px;
    }

    .points-list-item {
        flex-direction: column;
    }

    .points-list-item-col {
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .points-item-contact:nth-child(1) {
        margin-right: 15px;
    }

    .points-item-contact {
        background-position-y: 2px;
        margin-bottom: 8px !important;
    }

    .points-list-item {
        align-items: unset;
    }

    .point-actions {
        flex: 0 0 240px;
        max-width: 240px;
    }
}

@media (max-width: 991px) {
    .top-section {
        padding-top: 140px;
    }

    .contact-links {
        padding-top: 9px;
    }

    .header-burger {
        display: block;
    }
    
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
        position: fixed;
        top: 0;

        z-index: 5;

        transition: all .3s ease;
    }

    .header-active {
        background-color: var(--blue);
    }

    .header-nav {
        position: fixed;
        top: 48px;
        left: -280px;
        width: 280px;
        bottom: 0;
        background-color: var(--blue);
        padding: 50px 15px 20px;
        flex-direction: column;
        align-items: center;
    }

    .header-nav::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        height: 30px;

        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%);
    }

    .header-nav-link {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .points-list-item {
        flex-direction: row;
        align-items: center;
    }

    .points-block {
        height: 400px;
        margin-bottom: 30px;
    }

    .points-list-item-col:nth-child(1) {
        flex-direction: column;
    }

    .points-list-item-col:nth-child(2) {
        justify-content: flex-end;
    }

    .points-list-item-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .prices {
        background-image: none;
        margin-top: 80px;
    }

    .services {
        margin-top: 50px;
    }

    .row-services {
        margin-top: 20px;
    }

    .services-swipe {
        width: 125px;
    }

    .services-nav {
        top: calc(50% - 50px);
    }

    .services-slider {
        margin-top: 50px;
    }
}

@media (max-width: 767px) {
    .header .contact-links {
        display: none;
    }

    .top-section-title {
        font-size: 28px;
    }

    .footer-col {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .footer-logo {
        flex: none;
        max-width: 257px;
        margin-bottom: 15px;
    }

    .footer .contact-links {
        padding-left: 0;
    }

    .footer-shape {
        height: auto;
        max-width: 100%;
        top: auto;
    }

    .points-list-item-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .points-block {
        border-radius: 15px;
    }

    .point-actions {
        opacity: 1;
    }

    .points-list-item-col:nth-child(1) {
        flex-direction: row;
    }

    .points-list-item-col:nth-child(2) {
        justify-content: center;
    }

    .points-list-item {
        flex-wrap: wrap;
    }

    .points {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .row-points {
        margin-top: 50px;
    }

    .btns-block .button-default {
        margin-bottom: 15px;
    }

    .section-heading {
        font-size: 34px;
        background-size: 35px;
        padding-right: 39px;
        background-position-y: 15px;
    }

    .price-btns {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav-price-link {
        margin-bottom: 15px !important;
    }

    .price-content {
        margin-top: 0;
    }

    .row-prices {
        margin-top: 30px;
    }

    .prices {
        margin-top: 50px;
        padding-top: 0;
    }

    .app {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {
    .overlay {
        background-color: transparent;
    }

    .state-nav .header-nav-responsive {
        display: block;
    }

    .state-nav .responsive-nav-close {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 70px;
        left: 0;
        right: 0;
    }

    /* .responsive-nav-close span {
        display: inline-flex;
        padding: 10px 30px;
        border: 1px solid #fff;
    } */

    .button-nav-close {
        width: 218px;
        justify-content: center;
    }

    .header-nav-responsive .contact-links {
        display: table;
        padding-top: 0;
        padding-left: 0;
    }

    .header-nav-responsive .contact-links-item {
        display: inline-block;
    }

    .header-nav {
        width: 100%;
        left: 0;
        bottom: auto;
        height: 0;
        opacity: 0;
        transition-duration: .5s;
        padding-top: 0;
    }

    .state-nav .header-nav {
        padding-top: 120px;
        left: 0;
        margin-top: 0;
        height: 100%;
        opacity: 1;
    }

    .header-nav-link {
        margin-bottom: 25px;
    }

    .header-nav-btn {
        animation: btnShadowRed .7s ease-in-out 0s infinite alternate;
    }

    @keyframes btnShadowRed {
        from {
            box-shadow: 0px 0px 50px 0px rgba(218, 184, 170, 0.3);
        }
        to {
            box-shadow: 0px 0px 50px 0px rgba(218, 184, 170, 0.5);
        }
    }

    .header-nav-link,
    .header-nav-btn {
        display: none;
    }

    .state-nav .header-nav-link,
    .state-nav .header-nav-btn {
        display: block;
    }

    .top-section-name {
        font-size: 14px;
        padding-left: 15px;
    }

    .header-nav-btn {
        position: absolute;
        bottom: 130px;

        padding-top: 14px;
        padding-bottom: 12px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 10px;
    }

    .prices {
        margin-top: 75px;
        padding-bottom: 0;
    }

    .top-section-list {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .header-burger {
        top: 8px;
    }

    .top-section-btns {
        display: flex;
    }

    .top-section-btn {
        margin-right: 15px !important;
    }

    
    .top-section-btns .button-default {
        flex: 0 0 calc(50% - 15px);
        max-width: calc(50% - 15px);
    }

    .top-section-btns .button-active {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .top-section {
        padding-top: 110px;
        padding-bottom: 65px;
        background-position: calc(100% + 470px) bottom;
    }

    .footer .contact-links {
        display: table;
    }

    .footer .contact-links-item {
        display: inline-block
    }

    .services {
        margin-top: 75px;
    }

    .top-section-title {
        font-size: 24px;
    }

    .top-section-title br {
        display: none;
    }

    .top-section-title i {
        margin-right: 6px;
    }

    .top-section-title em {
        display: inline-block;
        margin-left: 10px;
    }

    .header-logo-src {
        width: 180px;
    }

    .top-section-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .top-section-icon {
        flex: 0 0 40px;
        max-width: 40px;
    }

    .app-steps-item {
        font-size: 16px;
        background-size: 16px;
        background-position-y: 0;
        padding-left: 30px;
    }

    .app-steps-item span {
        font-size: 14px;
    }

    .app-map-bar {
        position: static;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        flex-direction: column;
    }

    .map-city-name {
        margin-bottom: 15px;
    }

    .points-list-item-col {
        justify-content: flex-start;
    }

    .point-actions {
        flex: 0 0 208px;
        max-width: 208px;
    }

    .points-block-inner {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .points-list {
        border-radius: 15px;
        max-height: 320px;
    }

    .points-block {
        height: 350px;
    }

    .points-list-item {
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 15px;
        margin-right: 15px;
        font-size: 13px;
    }

    .point-actions-item {
        margin-right: 5px;
    }

    .points-item-contact {
        line-height: 1.4;
    }

    .prices-info {
        font-size: 14px;
        align-items: flex-start;
    }

    .prices-info img {
        margin-top: 3px;
    }

    .table-custom {
        font-size: 14px;
    }

    .section-heading {
        font-size: 24px;
        background-size: 27px;
        padding-right: 33px;
        background-position-y: 9px;
    }

    .services-info {
        order: 2
    }

    .serivces-photos {
        order: 1
    }

    .points {
        margin-top: 90px;
    }

    .points-list-item-col:nth-child(1) {
        justify-content: center;
    }

    .point-addr {
        background-image: none;
        padding-left: 0;
        font-size: 14px;
    }

    .points-item-contact:nth-child(1) {
        margin-right: 0;
    }

    .point-tel {
        display: none;
    }

    .col-points-map {
        order: 1
    }

    .col-points-select {
        order: 2
    }

    .footer-copyright {
        margin-top: 5px;
        margin-bottom: 190px;
    }

    .footer-shape {
        bottom: 10px;
    }

    .app {
        margin-top: 75px;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    .price-btns .button-accent:hover, .price-btns .button-accent.button-active {
        animation: none;
    }

    .services-slider {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .nav-price-link {
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .contact-links-item::before {
        left: 19px;
    }

    .button-default {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .button-point {
        padding-top: 10px;
        padding-bottom: 9px;
    }

    .btns-block .button-default {
        width: 100%;
        justify-content: center;
        margin-right: 0;
    }

    .services-slider {
        height: 250px;
    }

    .services-swipe {
        width: 90px;
    }

    .footer {
        margin-top: 75px;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 14px;
    }
}